/******************
* Images du pendu *
*******************/

#img-pendu{
	height: 300px;
	width: 250px ;
}

#img-pendu{
	background-image: url("../images/pendus-default.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}